<nav class="navbar navbar-light .bg-gradient-light" style="background-color: #cdb460;">

  <%= link_to 'Доска обьявлений Заиграевский район', admin_products_path, class: 'navbar-brand' %>
  <a class="navbar-brand" href="#">
    <%# image_tag("console-one.png", {:style => "width:200px;", :class => "rounded"}) %>
    <%# image_tag("github-one.png", {:style => "width:260px;", :class => "rounded"}) %>
  </a>
  <button type="submit" class="btn btn-outline-primary"><%= link_to 'Категории', admin_categories_path %></button>
  <button type="submit" class="btn btn-outline-primary"><%= link_to 'Действия', admin_action_categories_path %></button>

  <span class="navbar-text">
    <% if user_signed_in? %>
      Welcome, <b><%= current_user.email %></b>
    <% end %>

  </span>
</nav>