<td class="align-middle">
  <%= link_to "New", new_admin_category_path %> | </td>
  <%= link_to "Edit", edit_admin_category_path %> | </td>
<td class="align-middle">
  <%= link_to 'Delete',
              admin_category_path,
              method: :delete,
              data: { confirm: 'This category will be deleted! Are you sure?' } %>
</td>