// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  font-family: "Times New Roman", Arial, Sans-Serif;
  font-size: 80%;
  align-items: 'center';
  table-layout: 'auto';
  border: "1px";
}
