// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  color: red;
  font-family: "Times New Roman", Arial, Sans-Serif;
}
h2 {
  text-align: center;
  font-family: "Times New Roman", Arial, Sans-Serif;
}
//div { display: flex; }

#box-container {
  background: #e7e5e5;
  display: flex;
  align-content: center;
  //width: auto;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  //flex-basis: 100px;
  padding: 2px;
  margin: 2px;
  font-family: "Times New Roman", Arial, Sans-Serif;
}
.header-txt-admin {
  font-family: "Times New Roman", Arial, Sans-Serif;
  color: #009999;
}

.navbar-brand {
  font-family: "Times New Roman", Arial, Sans-Serif;
}

img {
  width: 150px;
  height: 150px;
}

.top-menu-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.card-img-top {
  
  width: 60px;
  font-family: "Times New Roman", Arial, Sans-Serif;
}
/*
#products-list {
  background: #86ce48;
  display: flex;
  align-content: center;
  //width: auto;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  //flex-basis: 100px;
  padding: 2px;
  margin: 2px;
}
*/

.navbar {
  justify-content: center;
}
